* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: "Budverse";
  src: url(./assets/fonts/Myfont-Regular.ttf);
}

html,
body,
#root {
  height: 100%;
}

canvas {
  height: 60vh;
  aspect-ratio: 667 / 800;
}